@import "katex/dist/katex.min.css";

.katex-html {
  text-align: left;
}

#instruction-mode,
#numerical-system-mode {
  background-color: hsl(var(--primary));
}

button.hidden-button {
  display: none !important;
}
