@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap") layer(base);
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap") layer(base);

@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme {
  --color-title-secondary-foreground: hsl(var(--title-secondary-foreground));

  --color-title: hsl(var(--title));
  --color-title-foreground: hsl(var(--title-foreground));

  --color-brand: hsl(var(--brand));
  --color-brand-dark: hsl(var(--brand-dark));
  --color-brand-light: hsl(var(--brand-light));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-sidebar: hsl(var(--sidebar));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --font-poppins: Poppins, sans-serif, system-ui;
  --font-inconsolata: Inconsolata, monospace;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* @font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Oswald.woff2") format("woff2");
} */

@layer base {
  :root {
    --title-foreground: 0 0% 56%;
    --title: 0 0% 97%;
    --title-secondary-foreground: 0 0% 70.2%;

    --brand-light: 175.56 100% 94.71%;
    --brand: 175.29 79.55% 65.49%;
    --brand-dark: 175.26 76.77% 38.82%;
    /* ShadCN colors */
    --background: 0 0% 100%;
    --foreground: 218 22% 10%;
    --card: var(--background);
    --card-foreground: var(--title-foreground);
    --popover: var(--background);
    --popover-foreground: var(--title-foreground);
    /* Buttons */
    --secondary-foreground: 0 0% 36%;
    --secondary: var(--title);
    --primary-foreground: 220 20% 97.25%;
    --primary: 0 0% 14.12%;
    /*  */
    --muted: 220 20% 97%;
    --muted-foreground: 0 0% 72%;
    --accent: 0 0 97%;
    --accent-foreground: 175.26 100% 25.82%;
    /* Defaults */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 1 61% 56%;
    /*  */
    --border: 0 0% 94%;
    --input: var(--border);
    --ring: var(--title-secondary-foreground);
    --radius: 0.5rem;

    --sidebar: var(--secondary);
    --sidebar-foreground: 0 0% 73%;

    --toastify-toast-width: 350px;

    --font-display: : "Poppins", "sans-serif";
  }

  .dark {
    --brand-light: 175.56 100% 94.71%;
    --brand: 175.29 79.55% 65.49%;
    --brand-dark: 174.46 100% 12.75%;

    --background: 0, 0%, 20%;
    --foreground: 0 0% 70%;
    --card: 0 0% 14%;
    --title: 0 0% 18%;
    --title-foreground: 0 0% 56%;
    --border: 0 0% 27%;
    --input: var(--border);
    --ring: var(--brand);

    --secondary: 0 0% 23%;
    --secondary-foreground: 0 0% 52%;

    --card-foreground: var(--title-foreground);
    --popover: 190 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 175 80% 65%;
    --primary-foreground: 190 47.4% 11.2%;
    --muted: 0 0% 0;
    --muted-foreground: var(--title-foreground);
    --accent: var(--background);
    --accent-foreground: var(--foreground);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0.88 60.71% 56.08%;

    --sidebar: 0 0% 14%;
    --sidebar-foreground: 0 0% 32%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-poppins;
  }

  @font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/Oswald.woff2") format("woff2");
  }
}
