@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-title-foreground: 0 0% 56%;
    --color-title: 0 0% 97%;
    --color-title-secondary-foreground: 0 0% 70.2%;

    /* Buttons */
    --color-secondary-foreground: 0 0% 36%;
    --color-secondary: var(--color-title);
    --color-primary-foreground: 220 20% 97.25%;
    --color-primary: 0 0% 14.12%;

    /* rgb(20, 24, 31) */
    --color-foreground: 218 22% 10%;
    /* rgb(255, 255, 255) */
    --color-background: 0 0% 100%;
    --color-border: 0 0% 94%;
    --color-brand-foreground: 176 100% 95%;
    --color-brand: 175 77% 39%;


    --background: var(--color-background);
    --foreground: var(--color-foreground);


    --card: var(--color-title);
    --card-foreground: var(--color-title-foreground);
    --popover: var(--color-foreground);
    --popover-foreground: var(--color-title-foreground);
    --primary: var(--color-primary);
    --primary-foreground: var(--color-primary-foreground);
    --secondary: var(--color-secondary);
    --secondary-foreground:  var(--color-secondary-foreground);
    --muted: 210 40% 96.1%;
    --muted-foreground: var(--color-title-foreground);
    --accent: var(--color-primary);
    --accent-foreground: var(--color-foreground);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: var(--color-border);
    --input:  var(--color-border);
    --ring: 190 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --toastify-toast-width: 350px;
  }

  .dark {
    --background: 190 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 190 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 190 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 190 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
