@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Oswald.woff2") format("woff2");
} */

@layer base {
  :root {
    --title-foreground: 0 0% 56%;
    --title: 0 0% 97%;
    --title-secondary-foreground: 0 0% 70.2%;

    --brand-light: 175.56 100% 94.71%;
    --brand: 175.29 79.55% 65.49%;
    --brand-dark: 175.26 76.77% 38.82%;
    /* ShadCN colors */
    --background: 0 0% 100%;
    --foreground: 218 22% 10%;
    --card: var(--background);
    --card-foreground: var(--title-foreground);
    --popover: var(--background);
    --popover-foreground: var(--title-foreground);
    /* Buttons */
    --secondary-foreground: 0 0% 36%;
    --secondary: var(--title);
    --primary-foreground: 220 20% 97.25%;
    --primary: 0 0% 14.12%;
    /*  */
    --muted: 220 20% 97%;
    --muted-foreground: 0 0% 72%;
    --accent: var(--background);
    --accent-foreground: var(--foreground);
    /* Defaults */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    /*  */
    --border: 0 0% 94%;
    --input: var(--border);
    --ring: var(--title-secondary-foreground);
    --radius: 0.5rem;

    --sidebar: var(--secondary);
    --sidebar-foreground: 0 0% 73%;

    --toastify-toast-width: 350px;

    --font-display: : "Oswald", "sans-serif";
  }

  .dark {
    --brand-light: 175.56 100% 94.71%;
    --brand: 175.29 79.55% 65.49%;
    --brand-dark: 174.46 100% 12.75%;

    --background: 0, 0%, 20%;
    --foreground: 0 0% 70%;
    --card: 0 0% 14%;
    --title: 0 0% 18%;
    --title-foreground: 0 0% 56%;
    --border: 0 0% 27%;
    --input: var(--border);
    --ring: var(--brand);

    --secondary: 0 0% 23%;
    --secondary-foreground: 0 0% 52%;

    --card-foreground: var(--title-foreground);
    --popover: 190 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 175 80% 65%;
    --primary-foreground: 190 47.4% 11.2%;
    --muted: 0 0% 0;
    --muted-foreground: var(--title-foreground);
    --accent: var(--background);
    --accent-foreground: var(--foreground);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --sidebar: 0 0% 14%;
    --sidebar-foreground: 0 0% 32%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-poppins;
  }

  @font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/Oswald.woff2") format("woff2");
  }
}
